:root {
    --light-color: #4bcaff;
    --dark-color: #424d54c2;
    --font-color: #fff;
    --background-dark: #343e45;
    --background-light: #515e66;
    --font-size-small: 10px;
    --font-size-medium: 12px;
    --font-size-large: 24px;
    --font-size-xlarge: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
}

.headerNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    padding: 42px 20%;
    color: var(--font-color);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.headerNav>h1 {
    font-size: var(--font-size-large);
}

.headerNav>h1>span {
    color: var(--light-color);
}

h2 {
    font-weight: 300;
    font-size: var(--font-size-large);
}

nav {
    display: grid;
    justify-content: center;
}

ul {
    column-gap: 24px;
    display: grid;
    justify-content: center;
    width: 100%;
    align-items: center;
    grid-template: 1fr / repeat(5, 1fr);
}

li {
    text-align: center;
    font-weight: 500;
    font-size: var(--font-size-small);
}

main {
    width: 100%;
}

section {
    width: 100%;
}

.section1 {
    height: 85vh;
    background-image: url('../images/Fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

.text {
    height: 140px;
    display: grid;
    justify-content: center;
}

.text>h2 {
    margin: auto;
    padding: 2px 12px;
    text-align: center;
    color: var(--font-color);
    font-size: var(--font-size-xlarge);
    font-weight: 100;
    background-color: rgba(71, 82, 89, 0.83);
}

.services {
    background-color: var(--light-color);
    padding: 124px 20% 64px;
    display: grid;
    align-items: center;
    color: var(--font-color);
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.service {
    display: grid;
    row-gap: 14px;
}

.service>p {
    font-size: var(--font-size-small);
}

.portfolio>header {
    width: 100%;
    padding: 42px 20%;
    color: var(--dark-color);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.portfolio>span {
    border-bottom: 2px solid #515e66;
}

.portfolio>ul {
    column-gap: 32px;
}

.color,
.color2 {
    border: 2px solid var(--light-color);
    color: var(--light-color);
    padding: 5px 10px;
}

.gallery {
    width: 100%;
    padding: 24px 20% 48px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
}

.gallery>.img>img {
    width: 100%;
    height: 100%;
}

.default {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: var(--font-color);
    background-color: var(--background-light);
    padding: 48px 20%;
}

.default>article {
    display: grid;
    gap: 15px;
    font-size: var(--font-size-small);
    width: 80%;
    justify-content: start;
    align-items: start;
}

.default>article>span {
    border-bottom: 2px solid #ffffff;
}

.default>article>p {
    font-size: var(--font-size-small);
}

.default>.img>img {
    width: 100%;
}

.default>article>button {
    color: #343e45;
    padding: 8px 12px;
    border: 2px solid #343e45;
    background-color: transparent;
    width: 40%;
}

.twitter {
    background-color: var(--light-color);
    display: grid;
    padding: 48px 20%;
    color: var(--font-color);
}

.twitter>.container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.twitter>.container>.img {
    width: 100%;
    justify-items: end;
    display: grid;
}

.twitter .img>img {
    width: 52px;
}

.twitter>p {
    font-size: 20px;
    font-weight: 300;
}

.twitter>.container>span {
    border-bottom: 2px solid #ffffff;
}

.whoIs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-image: url('../images/bg_whoIs.png');
    background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color);
    padding: 100px 20%;
    gap: 40px;
}

.whoIs>article>p {
    font-size: var(--font-size-medium);
    font-weight: 350;
}

.whoIs>h2>span {
    border-bottom: 2px solid #ffffff;
}

#article2 {
    display: grid;
    gap: 0;
    align-items: end;
    padding-top: 50px;
    justify-content: space-between;
}

.imgs {
    display: grid;
    padding-top: 40px;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 10px;
}

.whoIs>article {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.imgT {
    width: 64px;
    border: 3px solid #fff;
}

.walter>span {
    color: var(--light-color);
    font-size: 15px;
    font-weight: bold;
}

#testimonials {
    background-color: #fff;
    color: var(--background-light);
    gap: 20px;
}

#testimonials>p {
    background-color: #fff;
    color: var(--background-light);
    font-size: 1.5rem;
    font-weight: 200;
    width: 90%;
}

#containerTest {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

#containerTest>h2>span {
    border-bottom: 2px solid var(--background-light);
}

#containerTest>img {
    width: 30px;
}

.contact-form {
    display: grid;
    grid-template: 2fr / repeat(2, 1fr);
    gap: 20px;
    background-image: url('../images/bg_contact.png');
    padding: 48px 20%;
    color: var(--font-color);
    background-position: center;
    background-size: cover;
}

.contact-form>h1 {
    grid-column: span 2;
    margin: 0 0 20px 0;
    font-size: 1.8em;
    font-weight: 300;
}

.contact-form>h1>span {
    border-bottom: 2px solid #fff;
}

form {
    display: grid;
    gap: 15px;
}

form>label {
    font-weight: bold;
}

form>input,
form>textarea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    width: 80%;
}

form>textarea {
    resize: none;
    height: 200px;
    width: 200%;
}

form>button {
    background-color: #4ac9ff;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
}

form>button:hover {
    background-color: #2980b9;
}

.contact-info {
    padding: 25px;
    font-size: var(--font-size-medium);
}

.contact-info>p {
    margin: 0 0 20px 0;
    line-height: 1.5;
}

footer {
    background-color: var(--background-dark);
    color: var(--background-light);
    padding: 48px 20%;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-items: start;
}

footer>ul {
    grid-template: 1fr / repeat(4, 1fr);
    column-gap: 0;
}

footer>ul>li {
    align-items: center;
    border-right: 1px solid var(--background-light);
    width: 80px;
    font-size: var(--font-size-small);
}

footer>div {
    width: 100%;
    justify-items: end;
}

footer>div>p {
    font-size: var(--font-size-small);
}

.noBorder {
    border-right: none;
}

@media (max-width: 1279px) {
    .text h2 {
        font-size: var(--font-size-large);
    }

    .headerNav,
    .services,
    .portfolio header,
    .gallery,
    .default,
    .twitter,
    .whoIs,
    .contact-form,
    footer {
        padding: 42px 10%;
    }
}

@media (max-width: 920px) {
    .text {
        align-content: center;
    }

    .text>h2 {
        font-size: 25px;
        margin-top: 10px;
    }

    .headerNav,
    .services,
    .portfolio header,
    .gallery,
    .default,
    .twitter,
    .whoIs,
    .contact-form,
    footer {
        padding: 42px 5%;
    }

    .default {
        align-items: center;
    }
}

@media (max-width: 768px) {
    ul {
        grid-template: 1fr / repeat(5, 1fr);
        align-items: center;
        column-gap: 10px;
    }

    li {
        font-size: var(--font-size-small);
    }

    .text>h2 {
        font-size: 20px;
        margin-top: 10px;
        padding: 5px;
    }

    .portfolio>ul {
        column-gap: 15px;
    }

    .gallery {
        padding: 0 5%;
    }

    .gallery>.img {
        height: 90%;
    }

    .default {
        row-gap: 20px;
    }

    .default>article {
        width: 100%;
        display: grid;
    }

    .default>article>button {
        width: 100%;
    }

    .whoIs {
        gap: 0;
    }

    #testimonials>p {
        font-size: 1rem;
    }

    .contact-info {
        padding: 0;
        font-size: 11px;
    }
}

@media (max-width: 480px) {

    .headerNav,
    .portfolio header,
    footer {
        justify-items: center;
        gap: 10px;
        grid-template: 1fr / 2fr;
    }



    .contact-info {
        font-size: 10px;
    }

    .contact-form>form>button {
        width: 100%;
    }

    footer>div {
        width: auto;
    }
}